<section id="projects">
<div class="container">
  <h3>Proyectos</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/windoctor/AdoraiTunes">AdoraiTunes</a></strong>
			Plataforma musical para la difusión de música cristiana católica contemporánea. Desarrollada con <a href="http://tapestry.apache.org">Tapestry 5.4</a> y <a href="https://www.mongodb.org/">MongoDB 3.</a>
		</h5>
		
    </div>
  </div>
</div>
</section>
